#Основной адрес api
VITE_API_URL = 'http://localhost:3000/api'

#Версия API
VITE_API_VERSION = 'v1'

#Ссылка на заполение вакансии через полную форму на стороннем сайте, для титана
VITE_API_TITAN_FORM_URL = 'http://localhost:3000/titan/vacancy/add'

#Ссылка на заполение вакансии через полную форму на стороннем сайте, для хостинга
VITE_API_HOSTING_FORM_URL = 'http://localhost:3000/hosting/vacancy/add'

#Отображать toast's для "дебага"
VITE_USE_TOASTS=true
